<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="@pavelety/cordova-plugin-google-play-services-check" version="1.0.1">
    <name>Google Play Services Check</name>
    <description>
        Cordova/Ionic/Phonegap plugin for checking that the Google Play Services are installed, updated and enabled
    </description>
    <license>MIT</license>
    <keywords>cordova, ionic, google play services</keywords>
    <repo>https://github.com/pavelety/cordova-plugin-google-play-services-check.git</repo>
    <author>Pavel Antoshenko</author>

    <js-module src="www/google-play-services-check.js" name="GooglePlayServicesCheck">
        <clobbers target="GooglePlayServicesCheck"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <preference name="GOOGLE_PLAY_SERVICES_VERSION" default="17+"/>
        <framework src="com.google.android.gms:play-services-location:$GOOGLE_PLAY_SERVICES_VERSION"/>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GooglePlayServicesCheck">
                <param name="android-package" value="com.dinamexoft.googleplayservicescheck.GooglePlayServicesCheck"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/dinamexoft/googleplayservicescheck/GooglePlayServicesCheck.java"
                     target-dir="src/com/dinamexoft/googleplayservicescheck"/>
    </platform>
</plugin>
